body {
  background-color: black; 
  color: red;
   }

.title-container {
font-size: 3em;
}

.game-board {
  display: grid;
  grid-template: 200px 200px 200px / 200px 200px 200px;
  gap: 1px;
}

.grid-square {
border: 2px solid black;
background-color: rgb(20, 20, 20);
  color: white;
  font-family: sans-serif;
  font-weight: 900;
  font-size : 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-form {
  display: flex;
  width: 600px;
  align-items: center;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

input {
  background-color: rgb(20, 20, 20);
  color: white;
}

.swap-container {
  min-width: 50px;
}

.winning {
  color: green;
}

.hover {
  color: grey;
}

.current-turn {
  border-color: green;
}
