body {
  background-color: black; 
  color: white;
   }

.game-board {
  display: grid;
  grid-template: 200px 200px 200px / 200px 200px 200px;
  gaps: 2px;
}

.grid-square {
border: 2px solid white;
  color: white;
  font-size : 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-form {
  display: flex;
  width: 600px;
  align-items: center;
}
